<div class="container">
    <div class="content">
      <div class="intro">
        <h1 class="title"><a href="/">Leon Wigley</a></h1>
        <p>Self-taught programmer and designer. Looking for backend and frontend work with a focus on user experience
          and performance. Also do profiling / server optimisations.</p>
        <p>Building cool things and solving problems. My projects will be linked here (eventually), for now,
          check out my <a href="https://x.com/leonwigley">X</a> or <a href="https://github.com/leonwigley">GitHub</a>.
        </p>
        <p>Currently learning Rust and Blender for games programming. Typically use Go and JavaScript/TypeScript.</p>
        <p>Contact me at <a href="mailto:leoncharleswigley@gmail.com">leoncharleswigley@gmail.com</a></p>
      </div>


      <footer>
        <div class="icons">
          <a href="https://x.com/leonwigley" class="icon-btn">
            <img src="icons/x.svg" alt="X" class="icon" />
          </a>
          <a href="https://github.com/leonwigley" class="icon-btn">
            <img src="icons/github.svg" alt="GitHub" class="icon" />
          </a>
        </div>

        <a href="resume.pdf" target="_self" class="resume-link">
          Click here for my CV
          <img src="icons/arrow.svg" alt="Arrow" class="arrow" />
        </a>
      </footer>
    </div>
    <!-- Project example -->
    <!-- <div class="cards-grid">
        <div class="card">
          <a href="https://goremote.pro">
            <img src="images/GoRemote.png" alt="Preview of the project" class="card-img" />

            <b class="card-title">GoRemote</b>
            <p class="card-subtitle">1,800+ monthly visitors</p>
            <p class="card-description">
              Place to find remote work. Work from anywhere or hire top talent.
            </p>
          </a>
        </div>
      </div> -->
  </div>