{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="main">
    <h1 class="title"><a href="/">leon</a></h1>
    <div class="intro">
      <p>building cool things
      </p>
      <p>Self-taught programmer and designer. I like making fun stuff that is performant, fun and looks beautiful.</p>
      <p>I use TypeScript, learning Rust.</p>
    </div>

    <nav>
      <a href="https://panta.uk/" target="_blank">panta <svg xmlns="http://www.w3.org/2000/svg" width="20" height="auto"
          viewBox="0 0 20 20" fill="currentColor">
          <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
          </path>
          <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
        </svg></a>
      <a href="https://www.youtube.com/@leonwigley" target="_blank">youtube <svg xmlns="http://www.w3.org/2000/svg"
          width="20" height="auto" viewBox="0 0 20 20" fill="currentColor">
          <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
          </path>
          <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
        </svg></a>
      <a href="/blog" target="_self">blog <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" width="20"
          height="auto" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg></a>
    </nav>

    <footer>
      <a href="https://x.com/leonwigley" target="_blank">
        x
      </a>
      <a href="https://github.com/leonwigley" target="_blank">
        github
      </a>
      <a href="mailto:leoncharleswigley@gmail.com">email</a>
      <a href="cv.pdf" target="_blank">
        cv
      </a>
    </footer>
  </div>
</div>
{% endblock content %}