<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>leon</title>

  <meta name="description"
    content="Leon Wigley's thoughts on programming, life and business. Thoughts and lessons learned." />
  <meta name="keywords"
    content="programming, coding, software development, personal blog, business, entrepreneurship, life lessons, productivity" />
  <meta name="author" content="Leon Wigley" />

  <link rel="icon" href="/images/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <link rel="apple-touch-icon" href="/images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="/css/styles.css" />

  {% block head %}{% endblock head %}
</head>

<body>
  {% block content %}{% endblock content %}

  {% if show_background | default(value=true) %}

  {% endif %}
</body>

</html>